<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
		
		
		
		<!-- ..................... Настройки запуска поиска ..................... -->
		<!-- 
			 Тип запуска поиска:
			 1. по таймеру
			 2. по крону
			 По умолчанию: 1
		-->
		<add key="startType" value="1" />
		
		<!-- 
			 Интервал запуска поиска при выборе типа запуска по таймеру(1). 
			 По умолчанию: каждые 60 мин.
		-->
		<add key="timerInterval" value="60" />
		
		<!-- 
			 Время запуска поиска при выборе типа запуска по крону(2).
			
			 *    *    *    *    *  
			 ┬    ┬    ┬    ┬    ┬
			 │    │    │    │    │
			 │    │    │    │    │
			 │    │    │    │    └───── день недели (0 - 6) (воскресенье=0)
			 │    │    │    └────────── мксяц (1 - 12)
			 │    │    └─────────────── день месяца (1 - 31)
			 │    └──────────────────── часы (0 - 23)
			 └───────────────────────── минуты (0 - 59)
			 Примеры:
			 * * * * *        Каджую минуту.
			 0 * * * *        Каждый час.
			 0,1,2 * * * *    0, 1 и 2 минута каждого часа.
			 */2 * * * *      Каждые 2 минуты.
			 1-55 * * * *     Каждую минуту через 55-ю минуту.
			 * 1,10,20 * * *  Каждый 1, 10 и 20 час.
			
			 По умолчанию: каждые 15 мин.
		-->
		<add key="crontab" value="*/15 * * * *" />



		<!-- ..................... Настройки поиска ..................... -->
		<!-- 
			 Директория(ии) поиска.
			 Пример: C:\|D:\
			 Символ '|' является разделителем.
		-->
		<add key="searchDirectory" value="C:\|E:\" />

		<!-- 
			 Директория(ии) исключенные из поиска. Проверяется вхождение строк, 
			 т.е. если использовать значение "Windows" все директории с данной строкой будут исключены.
			 Пример: C:\Windows|D:\Downloads
			 Символ '|' является разделителем.
		-->
		<add key="excludeDirectory" value="%SYSTEMROOT%|%ProgramData%|%USERPROFILE%\AppData|C:\Program Files|%ProgramFiles(x86)%" />
		
		<!-- 
			 Выполнять поиск в текущей директории и во всех поддиректориях или только в текущей директории. 
			 Варианты: 0 или 1
			 По умолчанию: 1 (в текущией и в поддиректориях)
		-->
		<add key="searchOption" value="1" />
	
		<!-- 
			 Маска поиска.
			 Пример: file_name_1*.exe|file_name_2*.dll
			 Символ '|' является разделителем.
		-->
		<add key="searchMask" value="*.mp3|*.mov|*.vob|*.mkv|*.avi|*.flv|*.mp4|*.flac|*.wmv|*.exe" />

		<!-- 
			 Метод поиска.
			 Варианты:
			 1. Стандартными средствами
			 2. Кастомная обертка над методами WinAPI
			 По умолчанию: 1
		-->
		<add key="searchMethod" value="1" />

		<!-- 
			 Сканировать директории поиска параллельно.
			 Варианты: 0 или 1
			 По умолчанию: 1
		-->
		<add key="searchParallel" value="1" />

		
		<!-- ..................... Настройки результатов поиска ..................... -->
		<!-- 
			 Удалять найденные файлы.
			 Варианты: 0 или 1
			 По умолчанию: 0
		-->
		<add key="deleteFiles" value="0" />

		<!-- 
			 Режим тестирования, выполнение поиска разными методами N итераций.
			 Варианты: 0 или 1
			 По умолчанию: 0
		-->
		<add key="testMode" value="0" />
		
		<!-- 
			Директория файла с результатами поиска.
			Путь может быть относительным или абсолютным.
		-->
		<add key="outputFilePath" value="SearchResults.txt" />
		
		
		
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
